<div id="search-component">
  <h2>Salaries and Earnings</h2>
  <h6>(Last updated 4/15/2019)</h6>
 
  <input #searchBox id="search-box" class="form-control" (input)="search(searchBox.value)" placeholder="Enter a last name"/>
 
  <div class="search-result">
    <div *ngFor="let salary of salaries$ | async">
      <a href="/detail/{{salary.id}}">
        {{salary.last_Name}}, {{salary.first_Name}} {{salary.middle_Name}}
      </a>
    </div>
  </div>
</div>

<!-- OSU FOOTER -->
<footer id="page_footer">
  <div class="container">
    <div class="row">
      <section id="footer_info">
        <div id="institutional_info" class="small-12 medium-9 large-9 columns">
          <a href="http://www.osu.edu/"><img src="./assets/osu_footer/images/osu-web-footer.png" alt="The Ohio State University" title="The Ohio State University home page"/></a>
          <p>&copy; 2014 | Student Academic Services Building | 281 W. Lane Ave. | Columbus, Ohio 43210 | <a href="tel:614-292-OHIO">614-292-OHIO</a></p>
          <p>Contact: <a href="mailto:askabuckeye@osu.edu">Admissions</a> | <a href="mailto:webmaster@osu.edu">Webmaster</a> | Page maintained by <a href="http://ucom.osu.edu/">University Communications</a></p>
          <p><a href="http://www.osu.edu/webmaster.php">Request</a> an alternate format of this page | <a href="http://ocio.osu.edu/status/">Web Services Status</a> | <a href="http://hr.osu.edu/policy/resources/110nondiscrimnotice.pdf">Nondiscrimination notice</a></p>
          </div><!-- /institutional_info -->
        <div id="footer_social" class=" small-12 medium-3 large-3 columns">
            <a href="http://www.facebook.com/osu" class="socialicon"><img src="./assets/osu_footer/images/facebook-32.png" alt="Facebook"/></a> 
            <a href="http://twitter.com/OhioState" class="socialicon"><img src="./assets/osu_footer/images/twitter-32.png" alt="Twitter"/></a> 
            <a href="http://www.youtube.com/user/OhioStateUniversity" class="socialicon"><img src="./assets/osu_footer/images/youtube-32.png" alt="YouTube"/></a>
          <a href="http://osu.edu/rss-feeds.html" class="socialicon"><img src="./assets/osu_footer/images/rss-32.png" alt="RSS"/></a>
          </div><!-- /footer_social-new -->
        </section><!-- /footer_info -->
    </div><!-- /row -->
  </div>
</footer><!-- /page_footer -->
<!-- /OSU FOOTER -->