<div *ngIf="salary">
  <h2>{{salary.last_Name | uppercase}}, {{salary.first_Name | uppercase}} {{salary.middle_name}}</h2>
  <div>
    <div><span>Id:</span> {{salary.id}}</div>
    <div><span>Last Name:</span> {{salary.last_Name}}</div>
    <div><span>First Name:</span> {{salary.first_Name}}</div>
    <div *ngIf="salary.middle_Name"><span>Middle Name:</span> {{salary.middle_Name}}</div>
    <div><span>College:</span> {{salary.vp_College}}</div>
    <div><span>Department:</span> {{salary.department}}</div>
    <div><span>Organization:</span> {{salary.organization}}</div>
    <div><span>Title:</span> {{salary.title}}</div>
    <div><span>Annual Base Salary:</span> {{salary.annual_Base_Salary | currency}}</div>
    <div><span>Hourly Rate:</span> {{salary.hourly_Rate | currency}}</div>
    <div><span>Sex:</span> {{salary.sex}}</div>
    <div><span>Race:</span> {{salary.race}}</div>
    <div><span>Ethnicity:</span> {{salary.ethnicity}}</div>
    <div><span>Spirit Animal:</span> {{salary.spirit_Animal}}</div>
  </div>  
  <br>
  <button class="btn btn-info btn-sm" (click)="goBack();">Back</button>
</div>