.navbar {
    min-height: 80px;
    color:white;
    font-family: 'capita', 'Times New Roman', serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .stripe {
    min-height: 10px;
    background-color:#ad2622;
  }
  
  .navbar-brand {
    padding: 5px 10px;
    height: 100px;
    line-height: 100px;
  }

  .title {
    padding: 0px 0px 0px 0px;
    font-size:40px;
    font-weight:500;
    font-family: 'capita', 'Times New Roman', serif;
    height: 50px;
    line-height: 30px;
    flex-grow: 2;
  }

  .title2 {
    padding: 0px 0px 0px 90px;
    font-size:25px;
    font-weight:500;
    font-family: 'capita', 'Times New Roman', serif;
    height: 40px;
    line-height: 0px;
  }

  .nav-item {
    text-align: right;
    padding: 10px 0px 10px 10px;
    font-size:20px;
    font-weight:300;
    font-family: 'capita', 'Times New Roman', serif;
    height: 100px;
    line-height: 100px;
    align-self: flex-end;
  }

  .nav-link:link {
    padding: 10px 10px;
    height: 100px;
    color:white;
    line-height: 100px;
  }

  .nav-link:visited {
    padding: 10px 10px;
    height: 100px;
    color:white;
    line-height: 100px;
  }

  .nav-link:hover { 
    color:#ad2622;
  } 
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }

  

