<!-- <div role="navigation" id="osu_navbar" aria-labelledby="osu_navbar_heading">
  <h2 id="osu_navbar_heading" class="osu-semantic">Ohio State nav bar</h2>
  <a href="#page-content" id="skip" class="osu-semantic">Skip to main content</a>

  <div class="container-fluid">
    <div class="univ_info">
      <p class="univ_name">
        <a href="http://osu.edu" title="The Ohio State University">The Ohio State University</a>
      </p>
    </div>

    <div class="univ_links">
      <div class="links">
    			<ul>
              <li><a href="/home" class="home">Home</a></li>
              <li><a href="/detail/{{ randomNumber }}" class="random">Random Search</a></li>
              <li style="color: white;">|</li>
              <li><a href="http://www.osu.edu/help.php" class="help">Help</a></li>
              <li><a href="http://buckeyelink.osu.edu/" class="buckeyelink" >BuckeyeLink</a></li>
              <li><a href="http://www.osu.edu/map/" class="map">Map</a></li>
              <li><a href="http://www.osu.edu/findpeople.php" class="findpeople">Find People</a></li>
              <li><a href="https://email.osu.edu/" class="webmail">Webmail</a></li> 
              <li><a href="http://www.osu.edu/search/" class="search">Search Ohio State</a></li>
            </ul>  
      </div>
    </div>
  </div>
</div>
<br>
<br> -->


<!-- <nav class="stripe"></nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e1/Ohio_State_University_seal.svg/1200px-Ohio_State_University_seal.svg.png" width="90" height="90" class="d-inline-block align-top" alt="">
  </a>

  <a class="title">The Ohio State University<br><a class="title2">Faculty Salary Search</a></a>

  <div class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="#">About</a>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="#">Search</a>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="/detail/{{ randomNumber }}">Random</a>
  </div>
</nav>
<nav class="stripe"></nav> 
