<nav class="stripe"></nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e1/Ohio_State_University_seal.svg/1200px-Ohio_State_University_seal.svg.png" width="90" height="90" class="d-inline-block align-top" alt="">
  </a>

  <a class="title">The Ohio State University<br><a class="title2">Faculty Salary Search</a></a>

  <div class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="#">About</a>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="#">Search</a>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="#">Random</a>
  </div>
</nav>
<nav class="stripe"></nav>
<br><br><br>
=======
<!-- Temporary navbar -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">
      <img src="https://i.vimeocdn.com/portrait/26495036_300x300" width="30" height="30" class="d-inline-block align-top" alt="">
      Bootstrap
    </a>
  </nav>