h1, h2, h3, h4, h5, h6, p, span, div {
    font-family: 'proximanova', Arial, sans-serif;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 300; 
}

h6 {
    font-weight: 400;
    font-size: 14px;
}

span {
    font-weight: 700;
}