<div>
    <p>NAME: {{ salary.last_Name }}, {{ salary.first_Name }} {{ salary.middle_Name}}</p>
    <p>VP COLLEGE: {{ salary.vp_College}}</p>
    <p>DEPARTMENT: {{salary.department}}</p>
    <p>ORGANIZATION: {{salary.organization}}</p>
    <p>TITLE: {{salary.title}}</p>
    <p>AUNNUAL BASE SALARY: {{salary.annual_Base_Salary}}</p>
    <p>HOURLY RATE: {{salary.hourly_Rate}}</p>
    <p>ID: {{salary.id}}</p>
    <p>SEX: {{salary.sex}}</p>
    <p>RACE: {{salary.race}}</p>
    <p>ETHNICITY: {{salary.ethnicity}}</p>
    <p>SPIRIT ANIMAL: {{salary.spirit_Animal}}</p>
</div>
<br>